@import "tailwindcss/base";
@import "tailwindcss/components";

/* Your own custom component styles */

@import "tailwindcss/utilities";

/* top bar slider */
.header-slider .splide__arrows {
  display: none;
}

ul.splide__pagination {
  height: 70px;
  margin-top: -10px;
}

.splide__track {
  margin-right: 30px;
}
/* homepage slider */
.carousel .splide__track {
  margin: 0px;
}

.carousel .splide__pagination {
  display: none;
}

/* price range slider */

.cz-range-slider-ui {
  height: 0.1875rem;
  margin: 3.5rem 0;
  border: 0;
  background-color: #eceff6;
  box-shadow: none;
}
.cz-range-slider-ui .noUi-connect {
  background-color: #fe696a;
}
.cz-range-slider-ui .noUi-handle {
  top: 50%;
  width: 1.375rem;
  height: 1.375rem;
  margin-top: -0.6875rem;
  border: 0;
  border-radius: 50%;
  box-shadow: 0 0.125rem 0.5625rem -0.125rem rgba(0, 0, 0, 0.25);
}
.cz-range-slider-ui .noUi-handle::before,
.cz-range-slider-ui .noUi-handle::after {
  display: none;
}
.cz-range-slider-ui .noUi-handle:focus {
  outline: none;
}
.cz-range-slider-ui .noUi-marker-normal {
  display: none;
}
.cz-range-slider-ui .noUi-marker-horizontal.noUi-marker {
  width: 1px;
  background-color: #d0dae4;
}
.cz-range-slider-ui .noUi-marker-horizontal.noUi-marker-large {
  height: 0.75rem;
}
.cz-range-slider-ui .noUi-value {
  padding-top: 0.125rem;
  color: #4b566b;
  font-size: 0.8125rem;
}
.cz-range-slider-ui .noUi-tooltip {
  padding: 0.25rem 0.5rem;
  border: 0;
  background-color: #373f50;
  color: #fff;
  font-size: 0.75rem;
  line-height: 1.2;
  border-radius: 0.1875rem;
}
html:not([dir="rtl"]) .cz-range-slider-ui.noUi-horizontal .noUi-handle {
  right: -0.6875rem;
}
