@import "tailwindcss/base";
@import "tailwindcss/components";

/* Your own custom component styles */

@import "tailwindcss/utilities";

/* top bar slider */
.header-slider .splide__arrows {
  display: none;
}

ul.splide__pagination {
  height: 70px;
  margin-top: -10px;
}

.splide__track {
  margin-right: 30px;
}
/* homepage slider */
.carousel .splide__track {
  margin: 0px;
}

.carousel .splide__pagination{
  display:none;
}