@import "tailwindcss/base";
@import "tailwindcss/components";

/* Your own custom component styles */

@import "tailwindcss/utilities";

/* top bar slider */
.header-slider .splide__arrows {
  display: none;
}

ul.splide__pagination {
  height: 70px;
  margin-top: -10px;
}

.splide__track {
  margin-right: 30px;
}
/* homepage slider */
.carousel .splide__track {
  margin: 0px;
}

.carousel .splide__pagination {
  display: none;
}

/* style scrollbar */
body::-webkit-scrollbar,
.products-list::-webkit-scrollbar,
.product-gallery-thumblist::-webkit-scrollbar,
.quickView-description::-webkit-scrollbar,
.ais-RefinementList-list::-webkit-scrollbar {
  width: 1em;
}

body::-webkit-scrollbar-track,
.products-list::-webkit-scrollbar-track,
.product-gallery-thumblist::-webkit-scrollbar-track,
.quickView-description::-webkit-scrollbar-track,
.ais-RefinementList-list::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb,
.products-list::-webkit-scrollbar-thumb,
.product-gallery-thumblist::-webkit-scrollbar-thumb,
.quickView-description::-webkit-scrollbar-thumb,
.ais-RefinementList-list::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
  border: 0px !important;
}

/* price range slider */

.cz-range-slider-ui {
  height: 0.1875rem;
  margin: 3.5rem 0;
  border: 0;
  background-color: #eceff6;
  box-shadow: none;
}
.cz-range-slider-ui .noUi-connect {
  background-color: #fe696a;
}
div.noUi-horizontal .noUi-handle {
  width: 28px;
  height: 28px;
  right: -17px;
  top: -6px;
}
.cz-range-slider-ui .noUi-handle {
  top: 50%;
  margin-top: -0.6875rem;
  border: 0;
  border-radius: 50%;
  box-shadow: 0 0.125rem 0.5625rem -0.125rem rgba(0, 0, 0, 0.25);
}
.cz-range-slider-ui .noUi-handle::before,
.cz-range-slider-ui .noUi-handle::after {
  display: none;
}
.cz-range-slider-ui .noUi-handle:focus {
  outline: none;
}
.cz-range-slider-ui .noUi-marker-normal {
  display: none;
}
.cz-range-slider-ui .noUi-marker-horizontal.noUi-marker {
  width: 1px;
  background-color: #d0dae4;
}
.cz-range-slider-ui .noUi-marker-horizontal.noUi-marker-large {
  height: 0.75rem;
}
.cz-range-slider-ui .noUi-value {
  padding-top: 0.125rem;
  color: #4b566b;
  font-size: 0.8125rem;
}
.cz-range-slider-ui .noUi-tooltip {
  padding: 0.25rem 0.5rem;
  border: 0;
  background-color: #373f50;
  color: #fff;
  font-size: 0.75rem;
  line-height: 1.2;
  border-radius: 0.1875rem;
}
html:not([dir="rtl"]) .cz-range-slider-ui.noUi-horizontal .noUi-handle {
  right: -0.6875rem;
}

/* refinement list style */
ul.ais-Menu-list,
ul.ais-RefinementList-list {
  list-style: none;
  padding: 0px;
}

ul.ais-Menu-list .ais-Menu-count,
ul.ais-RefinementList-list .ais-RefinementList-count {
  background-color: red;
  padding: 2px;
  color: white;
  border-radius: 5px;
  font-size: 13px;
}

.ais-RefinementList-checkbox {
  margin: 0px 5px 0px 0px;
}

.ais-RefinementList-labelText {
  font-size: 14px;
}

.tags ul {
  max-height: 270px;
  overflow: auto;
  margin-bottom: 5px;
}

.vendor ul {
  max-height: 250px;
  overflow: auto;
  margin-bottom: 5px;
}

button.ais-RefinementList-showMore:hover {
  background-color: white;
  border: 1px solid red;
  color: red;
}

button.ais-RefinementList-showMore {
  border: 1px solid red;
  background-color: red;
  color: white;
  border-radius: 5px;
  margin: 15px 30px 15px 0px;
  font-size: 15px;
  padding: 8px;
}

input.ais-SearchBox-input {
  padding: 0.425rem 0.75rem;
  font-size: 0.8125rem;
  border-radius: 0.25rem;
  font-weight: 400;
  line-height: 1.5;
  color: #4b566b;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #dae1e7;
  width: 100%;
}

input.ais-SearchBox-input:focus-visible {
  outline: 1px solid red;
}

form.ais-SearchBox-form {
  display: flex;
}

form.ais-SearchBox-form button svg {
  height: 14px;
  width: 14px;
}

form.ais-SearchBox-form button.ais-SearchBox-submit {
  margin-left: -45px;
}
form.ais-SearchBox-form button.ais-SearchBox-reset {
  margin-left: 5px;
}
.ais-RefinementList-searchBox,
.ais-Menu-searchBox {
  margin-bottom: 10px;
}

span.ais-Menu-label {
  font-weight: normal;
  font-size: 16px;
  font-family: "Rubik", sans-serif;
}

/* product page description */
.productInfo div h2 {
  font-size: 20px;
  font-weight: 500;
}

/* product description */
.container.productDescription h6 {
  margin-bottom: 0px !important;
}

.container.productDescription h2 {
  margin-bottom: 0px !important;
  font-size: 21px;
  font-weight: bold;
}

.productInfo p {
  margin-bottom: 6px;
}

/* slider blog */
/* .blog-entry-meta-label {
  position: absolute;
  top: 1rem;
  right: 1rem;
  padding: 0.375rem 0.625rem;
  border-radius: 0.25rem;
  background-color: rgba(255, 255, 255, 0.8);
  color: #4b566b;
  text-decoration: none !important;
  z-index: 5;
} */

/* media query */
@media (min-width: 768px) {
  .related-products ul.splide__list {
    min-height: 500px;
  }
}
