.brand {
  height: 180px;
  width: 180px;
}
.brandLink {
  height: 150px;
  align-items: center;
}
@media (max-width: 768px) {
  .brand {
    height: 100px;
    width: 130px;
  }
  .brandLink {
    height: 80px;
  }
}
