header.header {
  height: 250px;
  max-height: 270px;
  min-height: 230px;
}

.uiElement:hover span div {
  background: white;
}

.uiElement a {
  position: absolute;
  left: 10px;
}

.cartDiscount p {
  text-align: right;
  color: gray;
}
.cartDiscount button {
  border: 1px solid red;
  color: red;
  border-radius: 0px;
  width: 100px;
  height: 50px;
  padding: 10px;
  display: flex;
  justify-content: center;
}
.cartDiscount button:hover {
  background-color: #fe696a;
  color: white;
  border-color: #fe696a;
}

.cartDiscount button:hover p {
  color: white;
}
.cartDiscount input {
  background-color: #f5f5f5;
}
.cartDiscount input:hover {
  background-color: white;
}

/* slidecart */
.slideCart ul ul li {
  font-size: 12px;
}

/* product */
.productImage {
  margin: auto;
  justify-content: center;
  display: flex;
}
.productImage img:hover {
  transform: scale(1.03);
  transition: transform 300ms ease-in 0s;
}

.cartButtons {
  display: none;
}

.product:hover .cartButtons {
  display: flex;
  margin: auto;
}

/* category slider */
.categoryLink img:hover {
  transform: scale(1.03);
  -webkit-transition: -webkit-transform 300ms ease-in 0s;
  -webkit-transition: -webkit-transform 300ms ease-in 0s;
  transition: transform 300ms ease-in 0s;
}

@media (max-width: 768px) {
  .cartDiscount button.btn {
    font-size: 14px;
    padding: 15px;
    height: 20px;
    display: flex;
    align-items: center;
  }
  .cartDiscount input {
    width: 100%;
  }
  .cartDiscount p {
    font-size: 14px;
  }

  .price div {
    font-size: 13px;
  }

  .oldPrice div {
    font-size: 10px;
  }
}
